<!DOCTYPE html>
<html>
<head>
    <title>🕉 Mahadev Darshan</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="home-bg">

<div class="menu-btn" onclick="toggleMenu()">☰</div>

<div class="sidebar" id="sidebar">
    <h2>🕉</h2>
    <a href="/">🏠 Home</a>
    <a href="/bhajans">📖 Bhajan</a>
    <a href="/login">🔐 Admin</a>
</div>

<div class="overlay">
    <div class="home-content">
        <h1>श्री नर्मदेश्वर महादेव मंदिर 🙏</h1>
        <p>दिव्या भक्ति और शिव भजनों का पवित्र स्थल </p>
    </div>
</div>

<script>
function toggleMenu(){ document.getElementById("sidebar").classList.toggle("active"); }
</script>

</body>
</html>
